header {
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  justify-content: space-around;
  background-color: lightblue;
}

.results-container {
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

#allRolls {
  display: flex;
  flex-direction: row;
}

.dice {
  display: flex;
  border: 2px solid black;
  border-radius: 18%;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  margin: 2px;
  padding: 5px;
}

footer {
  width: 60%;
  height: 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}
